@font-face {
    font-family: nbaFont;
    src: url('../fonts/NCAA Purdue Boilermakers.otf');
}

body {
    background: #FFF;
}

body.teams {
    background: lightgray;
}

nav {
    color: #000
}

.bg-light {
    background-color: #1D428A!important;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link:first-child {
    color: #FFF;  
}

.activeText {
    padding-bottom: 2px;
    border-bottom: 2px solid #FFF;
}

a.navbar-dark {
    color: #000;
}

a.navbar-brand:first-child {
    font-family: nbaFont;
    font-size: 2em;
    font-weight: bold;
    color: #FFF;
}

 .navbar-light .navbar-nav .nav-link{
    font-family: nbaFont;
    font-size: 1.5em;
    color: #FFF;
}

.content {
    padding-top: 50px;
}

.standings {
    padding-left: 175px;
}

.list-group {
    max-height: 750px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    border-color: #000;
}

.list-group-item.teams:first-child {
    border-top: none;
}

.list-group-item.teams {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.teamListImg {
    width: 100px;
    border-radius: 20px;
}

.teamInfoImg {
    height: 150px;
}

.row {
    margin: 0;
}

.col-sm-4.teamImageContainer {
    padding: 0;
}

.teamHeader {
    background: linear-gradient(#E03A3E, #C1D32F);
}

.teamStatistics {
    border-top: 2px solid #66737C;
    background-color: #C1D32F;
    color: #FFF;
    font-weight: bold;
}

.table {
    background-color: #f3f4f5; 
}

.table thead {
    border-top: 2px solid #9b9b9b;
}

.table thead tr th {
    border-bottom: 1px solid #e6e8ea;
}

.table tbody {
    border-bottom: 2px solid #9b9b9b;
}

.table th.teamName {
    border-right: 1px solid #e6e8ea;
    font-weight: 625;
}

.table td {
    vertical-align: middle;
}

.table tr:nth-child(odd) {
    background-color: #FFF;
}

.pageTitle {
    background: #FFF;
    padding: .75rem;
    margin-bottom: 0px;
    border-bottom: 3px solid #171b1f;
    font-family: nbaFont;
}

.conferenceTableTitle {
    background: #FFF;
    padding: .75rem;
    margin-bottom: 0px;
}

#conferenceDivisionSwitch {
    background: #FFF;
    padding: 15px;
    border-bottom: 1px solid #e6e8ea;
}

#conferenceButton {
    background: #FFF;
    color: #000;
}

#divisionButton {
    background-color: #d9d9d9;
    color: #666;
}

.fa-sort-down {
    color: #4169e1;
    height: 25px;
    vertical-align: middle;
}

#cornerCell {
    border-right: 1px solid #e6e8ea;
    border-bottom: 1px solid #e6e8ea;
}

.teamList {
    padding-right: 0;
}

.teamInformation {
    height: 750px;
    background-color: #FFF;
    margin-left: 0;
    padding: 0;
}

.city {
    font-weight: bold;
    font-size: 2em;
}

.name {
    font-weight: bold;
    font-size: 3em;
}

.teamInfoName {
    vertical-align: middle;
    padding-left: 100px;
    padding-top: 15px;
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2.4em;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.links button {
    display: block;
}

.buttonContainer {
    padding: 15px;    
}

.buttonContainer button {
    margin-bottom: 10px;
}

.statisticsCol, .statisticsCol2, .statisticsCol3, .statisticsCol4 {
    text-align: center;
    border-right: 1px solid #66737C;
}

.ppgData, .oppgData, .rpgData, .apgData {
    display: block;
}