@font-face {
    font-family: nbaFont;
    src: url('../fonts/NCAA Purdue Boilermakers.otf');
}

body {
    background: #FFF;
}

body.teams {
    background: lightgray;
}

nav {
    color: #000
}

.bg-light {
    background-color: #1D428A!important;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link:first-child {
    color: #FFF;  
}

.activeText {
    padding-bottom: 2px;
    border-bottom: 2px solid #FFF;
}

a.navbar-dark {
    color: #000;
}

a.navbar-brand:first-child {
    font-family: nbaFont;
    font-size: 2em;
    font-weight: bold;
    color: #FFF;
}

 .navbar-light .navbar-nav .nav-link{
    font-family: nbaFont;
    font-size: 1.5em;
    color: #FFF;
}

.pageHeader {
    padding-top: 50px;
}

.standings {
    padding-left: 175px;
}

.list-group-item {
    border-color: #000;
}

.list-group-item.teams:first-child {
    border-top: none;
}

.list-group-item.teams {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 0;
}

.teamListImg {
    width: 100px;
    border-radius: 20px;
}

.teamInfoImg {
    height: 150px;
}

.row {
    margin: 0;
}

.col-sm-4.teamImageContainer {
    padding: 0;
}

.teamHeader {
    background: linear-gradient(#E03A3E, #0B153C);
}

.teamStatisticsContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0B153C;
    border-top: 2px solid #66737C;
    color: #FFF;
    font-weight: bold;
}

.table {
    background-color: #f3f4f5; 
}

.table thead {
    border-top: 2px solid #9b9b9b;
}

.table thead tr th {
    border-bottom: 1px solid #e6e8ea;
}

.table tbody {
    border-bottom: 2px solid #9b9b9b;
}

.table th.teamName {
    border-right: 1px solid #e6e8ea;
    font-weight: 625;
}

.table td {
    vertical-align: middle;
}

.table tr:nth-child(odd) {
    background-color: #FFF;
}

.pageTitle {
    background: #FFF;
    padding: .75rem;
    margin-bottom: 0px;
    border-bottom: 3px solid #171b1f;
    font-family: nbaFont;
}

.conferenceTableTitle {
    background: #FFF;
    padding: .75rem;
    margin-bottom: 0px;
}

#conferenceDivisionSwitch {
    background: #FFF;
    padding: 15px;
    border-bottom: 1px solid #e6e8ea;
}

#conferenceButton {
    background: #FFF;
    color: #000;
}

#divisionButton {
    background-color: #d9d9d9;
    color: #666;
}

.fa-sort-down {
    color: #4169e1;
    height: 25px;
    vertical-align: middle;
}

#cornerCell {
    border-right: 1px solid #e6e8ea;
    border-bottom: 1px solid #e6e8ea;
}

.teamListContainer {
    padding-right: 0;
}

.teamList {
    max-height: 750px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.teamInformation {
    height: 750px;
    background-color: #FFF;
    margin-left: 0;
    padding: 0;
}

.city {
    font-weight: bold;
    font-size: 2em;
}

.name {
    font-weight: bold;
    font-size: 3em;
}

.streakContainer {
    line-height: 1.3em;
}

.streak {
    font-weight: bold;
    font-size: .75em;
}

.streakData {
    font-weight: bold;
    font-size: 1.75em;
}

.teamInfoName {
    vertical-align: middle;
    padding-left: 100px;
    padding-top: 15px;
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2.4em;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.links button {
    display: block;
}

.buttonContainer {
    padding: 15px;    
}

.buttonContainer button {
    margin-bottom: 10px;
}

.statisticsCol1, .statisticsCol2, .statisticsCol3, .statisticsCol4, .statisticsCol7, .statisticsCol8, .statisticsCol9 {
    text-align: center;
    border-right: 1px solid #66737C;
}

.statisticsCol5, .statisticsCol10 {
    text-align: center;
}

.statisticsCol10 {
    display: table-cell;
}

.ppg, .oppg, .rpg, .apg {
    font-size: .75em;
}

.ppgData, .oppgData, .rpgData, .apgData {
    display: block;
    font-size: .75em;
}

.homeRoadLast10 {
    font-size: .72em;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100px;
}

.homeRoadLast10 li {
    border-left: 1px solid #66737C;
    border-right: 1px solid #66737C;
    padding-left: 10px;
    padding-right: 10px;
}

.homeData, .roadData, .last10Data {
    float: right;
}

.statisticsCol6 {
    padding: 0;
}

.homeItem, .roadItem {
    border-bottom: 1px solid #66737C;
}

.wins, .losses {
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    height: 22.5px;
    width: 22.5px;
    display: inline-block;
}

.winCount, .lossCount {
    font-size: 1.35em;
    font-weight: bold;
}

.conference, .division {
    text-align: center;
    line-height: 1em;
}

.conferenceDivision {
    display: inline-block;
    font-size: .65em;
    color: #B3C1CA;
}

.eastSoutheast {
    display: inline-block;
    font-size: .8em;
}

.record {
    display: inline-block;
    font-size: .8em;
}

.gamesBack {
    display: inline-block;
    color: #B3C1CA;
    font-size: .65em;
}

.teamWebsite {
    font-size: .75em;
    vertical-align: middle;
    display: inline-block;
    padding-top: 20px;
}

.playersTableContainer {
   display: block;
   position: relative;
    height: 488px; 
    overflow: auto;
}

.playersTable {
    margin-top: 10px;
}

.playersTable thead, .playersTable tbody, .playersTable tr, .playersTable, .playersTable th, .playersTable td {
    border: none;
}

.playersTable td {
    text-align: center;
}

.portrait {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: inline-block;
}

.playerNameContainer {
    margin-top: 5px;
    line-height: 1.2em;
    color: #1779ba;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 550;
    font-size: 1.1em;
}

.playerPosition {
    font-size: .95em;
    font-weight: 490;
}

.playerHeightWeightContainer {
    line-height: 1em;
    font-size: .9em;
}

.teamNumber {
    margin-top: 2px; 
    display: inline-block;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.teamListLogo {
    height: 45px;
    width: 75px;
}

.teamListTeamName {
    color: #0B5BE1;
    font-family:  Helvetica, Arial, sans-serif;
    margin-left: 5px;
    font-weight: 550;
    font-size: .8em;
}